/* Colors */

/*main color #da5fbf
 da5fbf82

 Kolor 2
 #666*/
.fushia-background {
    background: #C50AFF;
    /* background: #AE00FF;*/
    margin: 0;
}

.white-background {
    background: #F9F9F9;
    margin: 0;
}

.max-window-height {
    height: 100%;
}


/* Scrolling */
.styled-scrollbar::-webkit-scrollbar {
    width: 8px;
    /*background:none;*/
}

.styled-scrollbar::-webkit-scrollbar-track {
    background: none;
    margin: 5px 0;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #DDD;
}

/* Left menu */
.left-menu-main {
    width: 55px;
    /* background: #da5fbf;*/
    height: 100%;
    padding: 0;
    margin: 0;
    display: table;
    z-index: 5;
    float: left;
}

.left-menu-main div{
    display:table-row;
}

.left-menu-main div + div {
    height:55px;
}

.left-menu-main ul {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0;
}

.left-menu-li-describe {
    font-size: 15px;
    display: none;
    background: #666;
    position: absolute;
    left: 65px;
    line-height: 22px;
    top: 8px;
    padding: 12px;
    margin: 0;
    border-radius: 7px;
    white-space: nowrap;
    z-index: 3;
}

.left-menu-li-describe:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-right-color: #666;
    border-left: 0;
    margin: 11px 0 0 -8px;
}

.left-menu-main li {
    margin: 0;
    position: relative;
}

.left-menu-main li:hover {
    background: #666
}

.left-menu-main li:hover .left-menu-li-describe {
    display: block;
}

.left-menu-main a {
    text-decoration: none;
    display:block;
    color: #FFF;
    width: 55px;
    max-height:55px;
    line-height:55px;
    text-align: center;
    transition: font-size 0.17s;
}

.left-menu-main a .material-icons{
    font-size: 28px;
    line-height:55px;
}

.left-menu-main a:hover .material-icons{
    font-size: 33px;
}

/* Content */

.content {
    /*width:calc(100% - 60px);*/
    padding: 25px 20px 25px 25px;
    /*padding-right:55px;*/
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 5px;
}

.content-top-panel{
    height:100px;
    border-bottom: solid 2px #ababab;
}

.content-top-panel.content-with-right-aside{
    width:calc(100% - 55px - 250px);
    margin:0;
}

.content-with-top-panel{
    height:calc(100% - 100px);
}

/*  Dashboard */

.dashboard-background {
    border: #EFEFEF solid 1px;
    background: #EFEFEF;
    -webkit-box-shadow: 0 0 5px 3px #EFEFEF;
    -moz-box-shadow: 0 0 5px 3px #EFEFEF;
    box-shadow: 0 0 5px 3px #EFEFEF;
    /*margin:15px;*/
    padding: 10px 20px;
}

.img-user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dashboard-account-preview {
    background: #F00;

    padding: 4px;
    width: 80px;
    margin: 5px 5px;
    float: left;
}

.dashboard-account-preview p {
    margin: 0;
    padding: 0;
    font-size: 11px;
    height: 15px;
    word-break: break-word;
    overflow: hidden;
}

.item-main {
    overflow: hidden;
    width: 100%;
    padding: 13px 0;
}

.item-main + .item-main {
    border-top:solid 1px #aeaeae;
}

.item-thunbail {
    border-radius: 50%;
    width: 38px;
    line-height: 38px;
    background: #F0F;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}

.item-section-data-category {
    float: left;
}

.item-section-type-money {
    width: 110px;
    float: right;
    text-align: center;
}

.item-date, .item-money-acc {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

.item-cat-name, .item-money-amount {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 17px;
}

.item-money-amount{
    padding-top:5px;
    font-size:20px;
}

.item-right-part {
    overflow: hidden;
    padding-left: 20px;
    width: calc(100% - 40px);
}

.item-description {
    margin: 0;
    padding-top: 4px;
    font-size: 13px;
}

.item-money-expense{
    color: #d21600;
}

.item-money-income{
    color: #1dab00;
}

/* Modal */
/*
#modal-new-item .row+.row{
    margin-top:7px;
}

#modal-new-item .fushia-background .row+.row{
    margin-top:0px;
}
*/
.money-div input {
    text-align: right;
}

.money-div input::-webkit-outer-spin-button,
.money-div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.money-div .input-group-prepend {
    margin-left: -1px;
}

.money-div .input-group-prepend .input-group-text {
    border-radius: 0 .25em .25em 0;
}

.textarea-noresizible {
    resize: none;
}

#modal-new-item .fushia-background .form-group label {
    font-weight: bold;
    color: #FFF;
}

/* Filtering asied */
.right-aside{
    height:100%;
    float:right;
    width:250px;
    /*background:#e390fc;
    border-left:solid 2px #b829ff;*/
    border-left: solid 2px #ababab;
}
.right-aside-title{
    line-height:70px;
    margin:0;
}
.content-with-right-aside{
    width:calc(100% - 60px - 250px);
    float:left;
}
.expense-list-filer-block{
    border-top:2px solid #ababab;
    overflow-y: auto;
    max-height:calc(100% - 75px);
}

.expense-list-filer-block > div{

}

.cookie-notify{
    position:fixed;
    bottom:1em;
    right:1em;
    background:rgba(0,0,0,0.3);
    border-radius: 8px;

}