<!-- Left menu -->
<div class="left-menu-main fushia-background">
    <div>
        <ul class="">
            <li><a href="?page=dashboard"><i class="material-icons">dashboard</i>
                <p class="left-menu-li-describe">Panel główny</p>
            </a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-new-item" onclick="refreshCategories()"><i class="material-icons">add_circle</i>
                <p class="left-menu-li-describe">Nowy wpis</p>
            </a></li>
            <li><a href="?page=expenseList"><i class="material-icons">format_list_bulleted</i>
                <p class="left-menu-li-describe">Lista wydatków</p>
            </a></li>
            <li><a href="?page=settings"><i class="material-icons">settings</i>
                <p class="left-menu-li-describe">Ustawienia</p>
            </a></li>
        </ul>
    </div>
    <div>
        <ul class="">
            <li><a href="?page=logout"><i class="material-icons">exit_to_app</i>
                <p class="left-menu-li-describe">Wyloguj</p>
            </a></li>
        </ul>
    </div>
</div>